<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>BeamRifle</string>
		<key>ItemID</key>
		<integer>3</integer>
		<key>ItemType</key>
		<integer>0</integer>
		<key>BaseValue</key>
		<integer>5</integer>
		<key>Inscription</key>
		<string>BEAMS OF THE SUN STAR</string>
		<key>Rarity</key>
		<integer>1</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Cunia</string>
			<key>CarbonAge</key>
			<integer>10</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>LaserBazooka</string>
		<key>ItemID</key>
		<integer>0</integer>
		<key>ItemType</key>
		<integer>0</integer>
		<key>BaseValue</key>
		<integer>20</integer>
		<key>Rarity</key>
		<integer>2</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Smerth</string>
			<key>CarbonAge</key>
			<integer>5</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>MoonRock</string>
		<key>ItemID</key>
		<integer>1</integer>
		<key>ItemType</key>
		<integer>2</integer>
		<key>BaseValue</key>
		<integer>2</integer>
		<key>Rarity</key>
		<integer>0</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Cunia</string>
			<key>CarbonAge</key>
			<integer>12500</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>GlowSphere</string>
		<key>ItemID</key>
		<integer>2</integer>
		<key>ItemType</key>
		<integer>1</integer>
		<key>BaseValue</key>
		<integer>3</integer>
		<key>Inscription</key>
		<string>THE GLOW OF THE ETERNAL STAR</string>
		<key>Rarity</key>
		<integer>3</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Prabunia</string>
			<key>CarbonAge</key>
			<real>34000</real>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>LaserCannon</string>
		<key>ItemID</key>
		<integer>4</integer>
		<key>ItemType</key>
		<integer>0</integer>
		<key>BaseValue</key>
		<integer>10</integer>
		<key>Rarity</key>
		<integer>2</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Glinda</string>
			<key>CarbonAge</key>
			<integer>14</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>MoonRubble</string>
		<key>ItemID</key>
		<integer>5</integer>
		<key>ItemType</key>
		<integer>2</integer>
		<key>BaseValue</key>
		<integer>1</integer>
		<key>Rarity</key>
		<integer>0</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Glinda</string>
			<key>CarbonAge</key>
			<integer>23000</integer>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dust</string>
		<key>ItemID</key>
		<integer>6</integer>
		<key>ItemType</key>
		<integer>2</integer>
		<key>BaseValue</key>
		<integer>0</integer>
		<key>Rarity</key>
		<integer>0</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Glinda</string>
			<key>CarbonAge</key>
			<real>45000</real>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>Crystal</string>
		<key>ItemID</key>
		<integer>6</integer>
		<key>ItemType</key>
		<integer>1</integer>
		<key>BaseValue</key>
		<integer>100</integer>
		<key>Rarity</key>
		<integer>1</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Cunia</string>
			<key>CarbonAge</key>
			<real>43000</real>
		</dict>
	</dict>
	<dict>
		<key>Name</key>
		<string>GammaShard</string>
		<key>ItemID</key>
		<integer>7</integer>
		<key>ItemType</key>
		<integer>1</integer>
		<key>BaseValue</key>
		<integer>240</integer>
		<key>Rarity</key>
		<integer>1</integer>
		<key>HistoricalData</key>
		<dict>
			<key>PlanetOfOrigin</key>
			<string>Cunia</string>
			<key>CarbonAge</key>
			<real>4000</real>
		</dict>
	</dict>
</array>
</plist>
